/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  direction: rtl;
  background: #f8f3ee;
  color: #2c1206;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}
